<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <title>{% block title %}{% endblock %} - Hua Hin Villa</title>
    {% endblock %}
  </head>
  <body>
    <div id="topnav">
        <a id="left-logo" href="/">Hua Hin Villa</a>
        <a href="/">Home</a>
        <a href="home">Location</a>
        <a href="home">Contact</a>
        <a href="home">About us</a>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>