<!doctype html>
{% extends "layout.html" %}
{% block title %}Location{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="infocontent-wrapper">
    <div id="map"></div>
    
    <div class="text-content">
        <p style="font-weight: bold;">
            Use correct address here: <br>
            5057 Bergen <br>
            Strandlien 25 <br>
            Norway
            <hr>
        </p>
        
        <h1>Nearby</h1>
        <p>Write about nearby things here</p>
    </div>
</div>

<script>
    function initMap() {
        let center = {lat: 12.580172, lng:99.940543};
        let map = new google.maps.Map(document.getElementById('map'), {zoom: 6, center: center});
        let marker = new google.maps.Marker({position: center, map: map});
    }
</script>
<script async defer 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeEmhVy5STzOmvESGgl06Zqp4vJsnkROc&callback=initMap">
</script>
{% endblock %}

{% block footer %}
{% endblock %}